<div class="container">
    <app-header></app-header>
    <div class="details-container">
        <div class="character-details">
            <h3 class="details-title">Character details:</h3>
            <div class="row">
                <div class="title">Name:</div>
                <div class="value"> {{ character?.name }}</div>
            </div>
            <div class="row">
                <div class="title">Species:</div>
                <div class="value"> {{ characterSpecies }}</div>
            </div>
            <div class="row">
                <div class="title">Movies:</div>
                <div class="value">{{ characterMovies }}</div>
            </div>
            <div class="row">
                <div class="title">Spaceships:</div>
                <div class="value">{{ characterStarships }}</div>
            </div>
        </div>
    </div>
</div>
